<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="solr-ajax">
    <head>
        <!-- meta -->
        <meta charset="utf-8">
        <title>Search Interface to Apache Solr/Lucene</title>
        <meta name="author" content="eScholarship Research Centre, University of Melbourne">
        <meta name="description" content="AJAX web interface to Apache Solr/Lucene">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- icons -->
        <!--
        <link rel="shortcut icon" href="ico/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57x57-precomposed.png" />
        -->
        <!-- stylesheets -->
        <style>
            [ng-cloak] {display: none;}
        </style>
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="css/solr-ajax/screen.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="css/solr-ajax/facp.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="css/jquery-ui-bootstrap/jquery-ui-1.10.0.custom.css" media="screen" />
        <!-- scripts -->
        <script type="text/javascript" src="js/jquery/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/d3js/d3.v3.min.js"></script>
        <script type="text/javascript" src="lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="lib/angular/angular-route.js"></script>
    </head>
    <body>
        <header id="page-header">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner" style="padding:0;">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand-title" href="#">Solr-Ajax</a>
                        <div class="nav-collapse collapse">
                            <p class="navbar-text pull-right">
                                Logged in as <a href="#" class="navbar-link">Username</a>
                            </p>
                            <ul class="nav">
                                <li><a href="documents.html">Documents</a></li>
                                <li class="active"><a href="images.html">Images</a></li>
                                <li><a href="locations.html">Locations</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="search-bar">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2 column-240">&nbsp;</div>
                    <div class="span5">

                        <form class="form-inline"
                              ng-controller="SearchBoxController"
                              ng-submit="handleSubmit()"
                              data-near-match="true"
                              data-search-hints-field="hints"
                              data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                            >
                            <div id="search-box" class="input-append">
                                <input id="search-box-input"
                                       searchhints
                                       autocomplete="off"
                                       name="q"
                                       ng-model="userquery"
                                       placeholder='Enter placename or keywords to search for'
                                       style="width:380px"
                                       type='text'
                                       ui-items="getHints(userquery)"
                                        />
                                <button class="btn">Search</button>
                            </div>
                        </form>

                    </div>
                    <div class="span5">&nbsp;</div>
                </div>
            </div>
        </section>

        <section id="content">
            <div class="container-fluid">
                <div class="row-fluid">

                    <!-- search panel -->
                    <div id="search-panel" class="span2 column-240 bs-docs-sidebar">
                        <!-- facet selection controller -->
                        <ul class="facet-panel"
                            ng-controller="FacetSelectionController"
                            ng-show="facets.length>0"
                            ng-cloak>
                            <li><b>Filtering By</b></li>
                            <li>
                                <ul class="items unstyled">
                                    <li ng-repeat="facet in facets">
                                        <i class="icon-tag"></i>
                                        <a ng-click="remove($index)">
                                            <span class="fieldname">{{facet.field}}:</span>
                                            <span class="value">{{facet.value}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- type facet controller -->
                        <ul class="facet-panel"
                            ng-controller="FieldFacetController"
                            data-field='localtype'
                            data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                            ng-cloak>
                            <li><b>Type</b></li>
                            <li>
                                <ul class="facets unstyled">
                                    <li ng-repeat="item in items" ng-show="items">
                                        <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value}}</a></span>
                                        <span class="facet-score">({{item.score}})</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- location facet controller -->
                        <ul class="facet-panel"
                            ng-controller="FieldFacetController"
                            data-field='region'
                            data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                            ng-cloak>
                            <li><b>State</b></li>
                            <li>
                                <ul class="facets unstyled">
                                    <li ng-repeat="item in items" ng-show="items">
                                        <span class="facet-name"><a href="#" ng-click="add($event,$index)">{{item.value}}</a></span>
                                        <span class="facet-score">({{item.score}})</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!-- search results -->
                    <div id="result-panel" class="span6"
                         ng-controller="ImageSearchResultsController"
                         data-fields="*"
                         data-source="https://data.esrc.unimelb.edu.au/solr/FACP"
                         ng-cloak>

                        <div class="loading" ng-show="loading" ng-cloak>
                            <p>Loading search results ...</p>
                            <img src="img/ajax-loader-bar.gif" alt="Loading search results" />
                        </div>

                        <div class="summary" ng-show="documents.length > 0" ng-cloak>
                            <div style="padding-bottom: 20px;">Search Results ({{totalResults}} found)</div>
                            <div class="alert alert-error" ng-show="error">{{error}}</div>
                            <div class="alert alert-info" ng-show="message">{{message}}</div>
                        </div>

                        <div id="search-results">
                            <div ng-repeat="row in rows" class="image-grid-row thumbnails" ng-cloak>
                                <div ng-repeat="doc in row" class="thumbnail span3">
                                    <a ng-href="{{doc.presentation_url}}" class="thumbnail"><img ng-src="{{doc.dobj_proxy_medium}}" alt="{{doc.title}}" /></a>
                                    <div class="caption">
                                        <span class="text-small"><a ng-href="{{doc.presentation_url}}">{{doc.title}}</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination" ng-hide="error" ng-cloak>
                            <ul>
                                <li ng-repeat="page in pages">
                                    <a ng-class="{iscurrent:page.isCurrent}" ng-click="$parent.handleSetPage(page.number)">{{page.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <footer id="footer">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div>
                        EAC-CPF faceted search interface to Apache Solr.
                        A project of the
                        <a href="http://www.esrc.unimelb.edu.au/">eScholarship Research Centre</a>, University of Melbourne.
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="js/solr-ajax/controllers/DateFacetController.js"></script>
        <script type="text/javascript" src="js/solr-ajax/controllers/FacetSelectionController.js"></script>
        <script type="text/javascript" src="js/solr-ajax/controllers/FieldFacetController.js"></script>
        <script type="text/javascript" src="js/solr-ajax/controllers/ImageSearchResultsController.js"></script>
        <script type="text/javascript" src="js/solr-ajax/controllers/SearchBoxController.js"></script>
        <script type="text/javascript" src="js/solr-ajax/directives/autocomplete.js"></script>
        <script type="text/javascript" src="js/solr-ajax/filters/textfilters.js"></script>
        <script type="text/javascript" src="js/solr-ajax/services/solr.js"></script>
        <script type="text/javascript" src="js/solr-ajax/services/utils.js"></script>
        <script type="text/javascript" src="js/solr-ajax/app/image.js"></script>

    </body>
</html>
